.hero {
  width: 75%;
  height: 200px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 48px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/tour/tours-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: proxima-nova-condensed;
    font-size: 60px;
    color: white;
  }
}

.tours {
  width: 236px;
  height: 304px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;

  h1 {
    font-family: proxima-nova-condensed;
    font-size: 60px;
    color: white;
  }

  .price {
    font-family: proxima-nova-condensed;
    font-size: 30px;
    color: white;
    margin-bottom: 56px;
  }

  .learn-more {
    font-family: gill-sans;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    background-color: #79addc;
    color: white;
  }
}

#isr {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/tour/tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#usa {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/tour/tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#aus {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/tour/tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nz {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/tour/tour-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fra {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/tour/tour-05.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#egy {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/tour/tour-06.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#jap {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/tour/tour-07.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#can {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/tour/tour-08.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#uae {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/tour/tour-09.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
