.about-description {
  width: 75%;
  margin: 0 auto;

  .title {
    font-family: proxima-nova-thin;
    font-size: 60px;
    margin-top: 90px;

    span {
      border-bottom: solid 3px black;
    }
  }

  .about-text {
    min-height: 96px;
    margin-top: 20px;
    font-family: gill-sans;
    font-size: 17px;
  }

  .quotes {
    font-family: proxima-nova-thin;
    font-size: 40px;
    margin-top: 95px;

    span {
      border-bottom: solid 3px black;
    }
  }
}
