.client {
  width: 75%;
  margin: 0 auto;

  .quotes {
    font-family: proxima-nova-thin;
    font-size: 40px;
    margin-top: 95px;

    span {
      border-bottom: 3px solid black;
    }
  }

  .client-container {
    width: 70%;
    height: 150px;
    display: flex;
    margin-top: 36px;

    .client-image-one {
      img {
        min-width: 250px;
        height: 150px;
      }
    }

    .client-image-two {
      img {
        min-width: 250px;
        height: 150px;
      }
    }

    .client-quote {
      width: 60%;
      min-height: 150px;

      .client-review {
        max-width:85%;
        min-height: 120px;
        padding-left: 20px;
        font-family: gill-sans;
        font-style: italic;
      }
      .client-name {
        width: 100%;
        min-height: 30px;
        text-align: end;
        font-family: proxima-nova-condensed;
        font-size: 20px;
        color: #79addc;
      }
    }
  }
}
